PORT=5000
MONGO_URI=mongodb+srv://ayushsavarn:freezingmoon7@cluster0.efm93hb.mongodb.net/expert-booking?retryWrites=true&w=majority&appName=Cluster0
CLIENT_URL=http://localhost:5173
NODE_ENV=development